@model LaMielApp.Models.Pago
@{
  ViewData["Title"] = "boleta";
}

<div class="seccion-titulo">
  <h5 class="titulo-seccion">@ViewData["Message"]</h5>
</div>
<div class="seccion-titulo text-center">
  <h5 class="titulo-prim">Muchas Gracias @Html.DisplayFor(model => model.Nombres)</h5>
  <h5 class="titulo-seccion">Gracias Por tu preferencia</h5>
  <h5 class="titulo-seccion">Esperamos Vuelvas a comprar con nosotros</h5>
  <a class="btn-prim" asp-controller="Proforma" asp-action="Documento" asp-route-id="@Model.Id"> Generar Boleta </a>
</div>