@{
    ViewData["Title"] = "Nosotros";
}
<div class="about-img">
    
</div>

<div class="about">
  <div class="caja-titulo">
    <h3 class="about-titulo">| Pasteleria la Miel |</h3>
  </div>
  <div class="about-info">
    <p >
      Somos Café Dulcería La Miel, una empresa arequipeña que nació en el año de 1995 dedicada al rubro de la pastelería. Contamos con área de cafetería.
    </p>
    <div class="info-emp">
      <div class="direc-emp">
        <h4>Dirección</h4> 
    <ul>
      <li>Av. Trinidad Morán, G-24</li>
      <li>León XIII, Cayma</li>
      <li>YANAHUARA, AREQUIPA (Arequipa)</li>
    </ul>
      </div>
      <div class="tel-emp">
        <h4>Teléfonos</h4> 
    <ul>
      <li>(0051-54) 27-2555</li>
      <li>(0051-54) 63-2911</li>
      <li>(0051-54) 34-3520</li>
    </ul>
      </div>
    </div>
  </div>
</div>