/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

:root{
  --color-prim:#cac52b;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Agregando estilo a la pagina */
.img-cover{
  position: relative;
  display: inline-block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.logo{
  height: 50px;
}
.carrusel-container{
  height: 500px;
  margin-bottom: 1.5rem;
}

.seccion-title{
  margin-bottom: 0.5rem;
}
.item-nav{
  font-size: 14px;
  color:black;
  transition: all 0.3s ease;
}

.item-nav:hover{
  color: var(--color-prim);
  font-size: 15px !important;
}
.seccion-titulo{
  margin: 20px 0;
}

.titulo-seccion{
  font-size: 1.3rem;
  color: #456;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
.titulo-prim{
  font-size: 1.7rem;
  color: #333;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
.seccion-container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.seccion{
  text-align: center;
  width: 50%;
  height: auto;
  align-items: center;
}

.seccion:hover > h5{
  transition: all 0.5s ease;
  color: var(--color-prim);
}

.slogan-emp{
  margin: 20px 10%;
}
@media (max-width: 768px) {
  .seccion {
      width: 100%;
      margin-bottom: 1.5rem;
  }
  .seccion-container{
    margin-bottom: -20px;
  }
}

.seccion-container .seccion a{
  width: 100%;
}
.seccion ul{
  list-style: none;
}
.info-seccion{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-seccion{
  width:100%;
  height: 50vh;
  object-fit: cover;
}
.about{
  display: grid;
}
.about-img{
  background-image: url(https://lirp.cdn-website.com/6f19f68f/dms3rep/multi/opt/946852-cafe-dulceria-la-miel-collage-de-la-fachada-de-la-pasteleria-y-tortas.w1024-960w.png);
  width: 100vw;
  height: 60vh;
  background-size: cover;

}

.caja-titulo{
  display: flex;
  align-items: center;

  top: -50px;
  position: relative;
  margin: auto;
  margin-bottom: -20px;
  height: 15vh;
  width: 70vw;
  background: linear-gradient(90deg, rgb(249, 251, 252) 4%, var(--color-prim) 100%);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 1px 3px 1px black;
}
.about-titulo{
  font-size: 2.5rem;
  margin: 0 auto;
  color: #000;
  display: inline-block;
  font-weight: bold;
}
@media (max-width: 500px) {
  .about-titulo{
      font-size: 1.75rem;
  }
}
.about .about-info{
  margin: auto;
  width: 70vw;
}
.about .about-info .info-emp{
  display: flex;
  flex-direction: row;
}
.about .about-info .info-emp .direc-emp,.about .about-info .info-emp .tel-emp{
  width: 50%;
  margin-top: 20px;
}
.about .about-info p{
  text-align: center;
  font-size: 1rem;
}
.about .about-info h4{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.about .about-info ul{
  list-style:none;
  text-align: center;
  margin-left: -40px;
}

.btn-prim{
  border: none;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
  background-color: #cac52be8;
}
.btn-prim:hover{
  transition: all 0.5s;
  background-color: #f3ed34;
  color: black;
}
.btn-prim a{
  text-decoration: none;
}

.container-form{
  margin: 20px 29%;
  background-color: #fdf73218;
  padding: 20px 50px;
  border-radius: 50px;
  box-shadow: 1px 2px 1px 1px rgb(67, 66, 66);
}
@media (max-width: 768px) {
  .container-form{

    margin: 40px ;
    padding: 10px 20px;
    border-radius: 50px;
  }
}
.btn-form{
  margin: 0 ;
}

.contenedor-catalogo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin: 0 15%;
}

.img-catalogo{
  width:100%;
  height: 30vh;
  object-fit: cover;
}

.nom-producto{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.precio-producto{
  text-align: center;
  font-size: 1em;
}

.btn-sec{
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
  background-color: #136b9e;
}
.btn-sec:hover{
  transition: all 0.5s;
  background-color: #1a8aca;
  color: black;
}
.catalogo-btn{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card{
  border: none !important;
  border-bottom: 2px solid gray !important;
  border-right: 2px solid gray !important;
  border-radius: 30px;
}

.btn-completo{
  display: inline;
}

.container-carrito{
  margin: 20px 10%;
  background-color: #ffffff18;
  padding: 20px 50px;
  border-radius: 50px;
  border: 2px solid black;
  box-shadow: 5px 5px 10px 1px #d6d017;
}
@media (max-width: 768px) {
  .container-carrito{

    margin:20px ;
    padding: 10px 20px;
    border-radius: 50px;
  }
}
.container-detalles{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 15%;
  column-gap: 20px;
}

.titulo-detalles{
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-detalles{
  border: 2px solid black;
  box-shadow: 5px 5px 10px 1px #d6d017;
  width: 100%;
  height: 70vh;
}

.info-detalles{
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-producto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-editar{
  text-align: center;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
  background-color: #05d362;
}
.btn-editar:hover{
  transition: all 0.5s;
  background-color: #07f773;
  color: black;
}

.btn-eliminar{
  text-align: center;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
  background-color: #c00000;
}
.btn-eliminar:hover{
  transition: all 0.5s;
  background-color: #ff0000;
  color: black;
}

.edit-detalles{
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.editar-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-bar{
  width: 20px;
}
.bar-andorid{
  display: none;
  font-size: 100px;
}
@media (max-width: 658px) {
  .bar-andorid{
    display:inline;
    position: relative;
  }
}
.container-buscar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.buscar-producto{
  width: 500px ;
  display: inline-block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 20px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.img-proforma{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.carrito-btn{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.carrito-info{
  display: flex;
}

.titulo-carrito{
  font-size: .9em;
  color: #456;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
.info-carrito{
  font-size: .9em;
  color: #000;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 860px) {
  .container-carrito{
    margin: 20px 5%;
  }
}

.crud-producto{
  margin: 20px 25%;
  background-color: #ffffff18;
  padding: 20px 50px;
  border-radius: 50px;
  border: 2px solid black;
  box-shadow: 5px 5px 10px 1px #d6d017;
}
.fab{
  width: 60px;
  text-align: center;
  font-size: 24px;
  
}

.icons-sticky{
  border-radius: 50%;
  border: #E8EBE7  5px solid;
  margin-bottom:10px ;
}

.social{
  position: fixed;
  right: 0px;
  bottom: 50px;
}

.social ul{
  list-style: none;
  
  
}

.social a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 9px;
  z-index: 10000000;
  transition: 0.1s ease;
}

.fa-facebook-messenger{
  background: #0084ff;
}

.fa-whatsapp{
  background: #25d366;
}

.container-contactanos{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-contactanos{
  margin: 0 10%;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 200, 0, 0.25);
}

#custom-button {
  border: none;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
  background-color: #cac52be8;
}

#custom-button:hover {
  transition: all 0.5s;
  background-color: #f3ed34;
  color: black;
}

#custom-text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}
.detalles-btn{
  margin-top: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 5px;
  align-content: center;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
}

.upload-detalles{
  margin-top: 1.25rem;
  grid-column: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}